.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.min-container {
  display: flex;
  margin-right: 1rem;
}

.min-amount {
  text-align: right;
  width: 40px;
  border: 0;
}

.max-container {
  display: flex;
  margin-left: 1rem;
}

.max-amount {
  text-align: left;
  width: 40px;
  border: 0;
}

.range {
  position: relative;
  height: 2px;
  background-color: black;
  position: relative;
  border-radius: 5px;
}

.min-selector {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.max-selector {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.min-selector:hover,
.max-selector:hover {
  width: 10px;
  height: 10px;
}
